* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

#wrap {
    width: 100%;
}

.nav {
    background-color: #062f78;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    text-align: center;
    padding: 16px 0;
}

.nav li a {
    color: #fff;
    padding: 0 20px;
    line-height: 80px;
}

.nav li {
    display: inline-block;
    font-weight: bold;
}

.nav li a:hover {
    padding: 32px 20px;
    border-bottom: 3px solid #fff;
    transition: 0.2s ease-in-out;
}

.list3:hover {
    
}
.product {
    width: 400px;
    height: 200px;
    background-color: rgb(95, 38, 38);
    margin-left: 28.6rem;
}
.left-gnb {
    margin-right: 100px;
}

.right-gnb {
    margin-left: 100px;
}

.search img {
    margin-top: 23px;
}

.main-img ul {
    display: flex;
}
.main-img img {
    width: 33.33vw;
    height: auto;
    filter: brightness(70%);
    transition: 0.3s;
}
.main-img img:hover {
    filter: brightness(100%);
}

.controller button:hover{
    opacity: 0.7;
}

.controller .next {
    position: absolute;
    top: 40%;
    left: 98%;
    background: none;
    border: 0;
    font-size: 50px;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
}